.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-img {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(600) + px, 9999px, random(600) + px, 0);
    }
  }
}

@keyframes noise-anim-img-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(600) + px, 9999px, random(600) + px, 0);
    }
  }
}

$img: url('../assets/images/image-lady.webp');

.glitch-img {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 2rem auto;
  background: $img no-repeat center / cover;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: $img no-repeat center / cover;
  }

  &::after {
    left: 4px;
    clip: rect(0, 9999px, 0, 0);
    filter: hue-rotate(30deg) saturate(2);
    animation: noise-anim-img 2s infinite linear alternate-reverse;
  }

  &::before {
    left: -4px;
    clip: rect(0, 9999px, 0, 0);
    filter: hue-rotate(-30deg) saturate(2);
    animation: noise-anim-img-2 2s infinite linear alternate-reverse;
  }
}

.glitch {
  color: white;
  font-size: 7em;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  letter-spacing: 1px;
  z-index: 3;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: -1px 0 red;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    top: 0;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 1px 0 blue;
    animation: noise-anim-2 2s infinite linear alternate-reverse;
  }
}
